---
import HeroImg from "@assets/hero-img.avif";
import ArrowIcon from "@assets/arrow-icon.svg";
import Button from "@components/Button.astro";
import { getTranslations } from "../../locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale).homepage.hero;
---

<style>
  .hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

  .scrollIndicator {
    position: absolute;
    bottom: 54px;
    padding-right: 80px;
    animation: bounce 2s infinite;
  }

  .mainTitle,
  .bigText {
    text-wrap: auto;
    color: var(--white-color);
  }

  .heroImg {
    height: 995px;
  }

  .bigText {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .heroContentWrapper {
    --content-max-width: 940px;
    --content-min-height: 440px;
    left: 0;
    bottom: 172px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    width: 100%;
    max-width: var(--content-max-width);
    min-height: var(--content-min-height);
  }

  .heroContent {
    --max-content-width: 570px;
    width: 100%;
    max-width: var(--max-content-width);
  }

  @media (max-width: 1200px) {
    .heroContentWrapper {
      bottom: -30px;
      min-height: auto;
      padding: 40px 24px;
    }

    .scrollIndicator {
      display: none;
    }

    .heroImg {
      height: auto;
    }
  }

  @media (max-width: 600px) {
    .heroContentWrapper {
      position: relative;
      /* transform: translateY(-50%); */
      bottom: 0;
      order: 2;
      min-height: auto;
      padding: 40px 24px;
    }

    .bigText {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
</style>

<section class="hero sectionBreak">
  <div class="heroContentWrapper">
    <div class="heroContent">
      <h1 class="mainTitle">{t.heading}</h1>
      <p class="bigText">
        {t.text}
      </p>
      <Button label={t.button} type="primary" />
    </div>
  </div>
  <img src={HeroImg.src} alt={t.altPhoto} class="heroImg" />
  <div class="scrollIndicator">
    <img src={ArrowIcon.src} alt={t.altArrow} />
  </div>
</section>
