---
import Button from "@components/Button.astro";
import Product from "../Product.astro";
import { getProductsByLanguage } from "src/lib/products";
import { API_URL } from "astro:env/client";
import { getTranslations } from "src/locale/getTranslations";
import { AppLangEnum } from "@src/lib/types";
const locale = Astro.currentLocale;
const t = getTranslations(locale).components.productsSection;

const { sectionLabel, linkProducts, classes } = Astro.props;
const data = await getProductsByLanguage(3, locale ?? AppLangEnum.PL);

const products = data.languages.nodes.flatMap((n) =>
  n.products.nodes.map((n) => ({
    id: n.id,
    image: `${API_URL}${n.heroPhoto.node.srcSet}`,
    title: n.heroAltText,
  }))
);
---

<style>
  .productSection {
    padding: 32px 80px;

    h2 {
      padding-bottom: 24px;
    }

    .button {
      margin: 30px auto 0;
    }
  }

  .productsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .linkWrapper {
    width: 100%;
    text-align: center;
  }
</style>

<div class:list={[classes, "productSection"]}>
  {sectionLabel && <h2 class="secondaryTitle">{sectionLabel}</h2>}
  <div class="productsWrapper">
    {
      products.map((p) => (
        <Product productId={p.id} image={p.image} title={p.title} />
      ))
    }
  </div>
  {
    linkProducts && (
      <div class="linkWrapper">
        <Button label={t.button} type="outline" />
      </div>
    )
  }
</div>
