---
import Button from "@components/Button.astro";
import Product from "../Product.astro";
import { getProducts } from "src/lib/products";
import { API_URL } from "astro:env/client";

const { sectionLabel, linkProducts, classes } = Astro.props;
const data = await getProducts();

const products = data.products.nodes.map((n) => ({
  id: n.id,
  image: `${API_URL}${n.heroPhoto.node.filePath}`,
  title: n.heroAltText,
}));
---

<style>
  .productSection {
    padding: 32px 80px;

    h2 {
      padding-bottom: 24px;
    }

    .button {
      margin: 30px auto 0;
    }
  }

  .productsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .linkWrapper {
    width: 100%;
    text-align: center;
  }
</style>

<div class:list={[classes, "productSection"]}>
  {sectionLabel && <h2 class="secondaryTitle">{sectionLabel}</h2>}
  <div class="productsWrapper">
    {
      products.map((p) => (
        <Product productId={p.id} image={p.image} title={p.title} />
      ))
    }
  </div>
  {
    linkProducts && (
      <div class="linkWrapper">
        <Button label="Zobacz inne produkty z naszej oferty" type="outline" />
      </div>
    )
  }
</div>
