---
import { getTranslations } from '../../locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale).homepage.whyUs;

const reasons = [
  {
    number: '1.',
    title: t.reasons.reason1.title,
    description: t.reasons.reason1.text,
  },
  {
    number: '2.',
    title: t.reasons.reason2.title,
    description: t.reasons.reason2.text,
  },
  {
    number: '3.',
    title: t.reasons.reason3.title,
    description: t.reasons.reason3.text,
  },
  {
    number: '4.',
    title: t.reasons.reason4.title,
    description: t.reasons.reason4.text,
  },
  {
    number: '5.',
    title: t.reasons.reason5.title,
    description: t.reasons.reason5.text,
  },
];
---

<style>
  .whyUsSection {
    display: flex;
    align-items: flex-start;
    gap: 48px;
  }

  .imageContainer {
    position: relative;
    min-width: 300px;
  }

  .imageContainer img {
    width: 100%;
    height: auto;
    border-top-right-radius: 40px;
    object-fit: cover;
  }

  .overlayBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--bg-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 70px;
  }

  .overlayBox .highlight {
    --highlight-font-size: 110px;
    color: var(--primary-color);
    font-size: var(--highlight-font-size);

    @media (max-width: 1025px) {
      --highlight-font-size: 60px;
    }
  }

  .experienceText {
    max-width: 106px;
    margin-left: 16px;
  }

  .mainTitle {
    margin-bottom: 40px;
  }

  .secondaryTitle {
    margin-bottom: 16px;
  }

  .content {
    flex: 1 1 55%;
    min-width: 300px;
  }

  .content ul {
    list-style: none;
    padding: 0;
    margin: 0;

    padding-right: 16px;
  }

  .content li {
    display: flex;
    gap: 24px;
    margin-bottom: 1.5rem;
  }

  .content .number {
    --number-font-size: 90px;
    color: #d52100;
    font-size: var(--number-font-size);
    font-weight: bold;
    flex-shrink: 0;
    margin: auto 0;
  }

  @media (max-width: 1200px) {
    .overlayBox {
      padding: 35px;
    }
  }

  @media (max-width: 1025px) {
    .whyUsSection {
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .imageContainer,
    .content {
      min-width: auto;
    }

    .content {
      padding: 24px;
    }

    .overlayBox {
      padding: 30px 15px;
    }

    .content li {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<section class="whyUsSection sectionBreak">
  <div class="imageContainer">
    <img src="/images/hose.avif" alt="hose image" />
    <div class="overlayBox">
      <span class="highlight">+30</span>
      <span class="experienceText secondaryTitle">{t.experience}</span>
    </div>
  </div>
  <div class="content">
    <h2 class="mainTitle">
      {t.heading}<br />{t.subheading}
    </h2>

    <ul class="reasonsList">
      {
        reasons.map((r) => (
          <li>
            <span class="number">{r.number}</span>
            <div>
              <h3 class="secondaryTitle">{r.title}</h3>
              <p class="primaryText">{r.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
