---
import ContactUsSection from '@components/ContactUsSection.astro';
import ProductSection from '@components/HomePage/ProductSection.astro';
import Layout from '@layouts/Layout.astro';
import { ProductCategoriesEnum } from '@src/lib/types';

import { getTranslations } from '@src/locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale);
const pageTitle = t.offerPage.pageTitle;
---

<style>
  .headerWrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .mainTitle {
    position: absolute;
    text-align: center;
    color: var(--white-color);
    background-color: var(--text-color);
    padding: 80px 0;
    width: 940px;
    margin: auto 0;
    left: 0;
    bottom: -40px;
  }

  .heroImg {
    object-fit: cover;
    object-position: top;
  }

  .productsWrapper {
    padding: 0 110px;
  }

  @media (max-width: 1025px) {
    .mainTitle {
      padding: 40px;
    }
  }

  @media (max-width: 800px) {
    .headerWrapper {
      flex-direction: column;
    }

    .productsWrapper {
      padding: 0 24px;
    }

    .mainTitle {
      order: 2;
      bottom: 0;
      position: relative;
      padding: 24px 32px;
      width: auto;
    }
  }
</style>

<Layout pageTitle={pageTitle}>
  <header class="headerWrapper sectionBreak">
    <h1 class="mainTitle">{t.offerPage.pageHeading}</h1>
    <img src="/images/offers-hero.avif" alt={t.offerPage.headerAltImgText} class="heroImg" />
  </header>

  <section class="productsWrapper sectionBreak">
    <ProductSection sectionLabel={t.offerPage.platforms} productCategory={ProductCategoriesEnum.Platform} />
    <ProductSection sectionLabel={t.offerPage.brackets} productCategory={ProductCategoriesEnum.Brackets} />
    <ProductSection sectionLabel={t.offerPage.other} productCategory={ProductCategoriesEnum.Other} />
  </section>

  <ContactUsSection classes="sectionBreak" />
</Layout>
