---
import Button from "./Button.astro";

const { certificateUrl } = Astro.props;
import { getTranslations } from "@src/locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale).components.certificateSection;
---

<style>
  .certificationSection {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 30px;
    padding-top: 100px;
  }

  .imgWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .bgPicture {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 100px;
    padding-left: 100px;

    .titleSecondary {
      padding-bottom: 16px;
    }
  }

  @media (max-width: 1025px) {
    .certificationSection {
      grid-template-columns: 1fr;
    }

    .content {
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      order: -1;
    }

    .imgWrapper {
      justify-content: center;
    }
  }

  @media (max-width: 800px) {
    .certificationSection {
      padding-top: 32px;
    }
    .content {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
</style>

<section class="certificationSection">
  <div class="imgWrapper">
    <img
      src="/images/bg-certificate-img.avif"
      alt={t.certificateImgAltText}
      class="bgPicture"
    />
    <img
      src="/images/front-certificate-img.avif"
      alt={t.certificateImgAltText}
      class="frontPicture"
    />
  </div>
  <div class="content">
    <h2 class="titleSecondary">{t.heading}</h2>
    <a href={certificateUrl} target="_blank"
      ><Button type="primary" label={t.heading} /></a
    >
  </div>
</section>
