---
import WhiteLogo from '@assets/white-logo.svg';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getTranslations } from '../locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale).components;

const navLinks = [
  { label: t.navigation.homepage, href: '/' },
  { label: t.navigation.offer, href: '/offer' },
  { label: t.navigation.aboutUs, href: '/about' },
  { label: t.navigation.contact, href: '/contact' },
];

const contactInfo = {
  companyName: 'DEXWAL',
  addressLine1: 'ul. Dobrowoda 12',
  addressLine2: '28-100 Busko-Zdrój',
  email: 'ppoz@dexwal.com',
  phone: '+48 41 378 70 11',
  hours: t.footer.hoursAvailable,
  copyright: t.footer.copyright,
};

const distributorInfo = {
  title: 'EDUFIRE',
  email1: 'biuro@edufire.pl',
  email2: 'serwis@edufire.pl',
  subtitle: t.footer.distributorSubtitle,
  phone: '+48 511 36 24 28',
  hours: t.footer.distributorHoursAvailable,
};
---

<style>
  .footer {
    display: flex;
    min-height: 272px;
    background-color: var(--text-color);
    color: var(--white-color);
    padding: 56px 80px 32px;
  }

  .footerLeft {
    justify-self: flex-start;
  }

  .address {
    padding-bottom: 24px;
  }

  .footerNav {
    display: flex;
  }

  .footerRight {
    text-align: right;
  }

  .footerLeft,
  .footerRight,
  .footerNav,
  .footerBottom {
    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }

  .footerNav a {
    &:not(:last-of-type) {
      margin-right: 80px;
    }
  }

  .footerNav a:hover {
    text-decoration: underline;
  }

  .footerBottom {
    text-align: center;

    .smallerText {
      padding-bottom: 8px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .footerMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footerList {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }

  .logo {
    margin-bottom: 12px;
  }

  .contact {
    li {
      padding-bottom: 6px;
    }
  }

  @media (max-width: 1200px) {
    .footer {
      padding: 32px;
    }
  }

  @media (max-width: 1025px) {
    .footer {
      flex-direction: column;
      gap: 24px;
    }

    .footerRight {
      text-align: left;
    }

    .footerMiddle {
      order: 1;
    }

    .footerNav {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .footer {
      display: flex;
      min-height: 272px;
      background-color: var(--text-color);
      color: var(--white-color);
      padding: 56px 40px 32px;
    }
  }
</style>

<footer class="footer">
  <div class="footerLeft">
    <img class="logo" src={WhiteLogo.src} alt="Dexwal Logo" />
    <ul class="footerList address">
      <li class="smallerText">{contactInfo.addressLine1}</li>
      <li class="smallerText">{contactInfo.addressLine2}</li>
    </ul>

    <ul class="footerList contact">
      <li class="smallerText">
        <a href=`mailto:${contactInfo.email}`>{contactInfo.email}</a>
      </li>
      <li class="smallerText">
        <a href=`tel:${contactInfo.phone}`>{contactInfo.phone}</a>
      </li>
      <li class="smallerText">{contactInfo.hours}</li>
    </ul>
  </div>

  <div class="footerMiddle">
    <nav class="footerNav">
      {
        navLinks.map((link) => (
          <a href={getRelativeLocaleUrl(locale ?? '', link.href)} class="menuText">
            {link.label}
          </a>
        ))
      }
    </nav>

    <div class="footerBottom">
      <p class="smallerText">{contactInfo.copyright}</p>
      <a href={getRelativeLocaleUrl(locale ?? '', '/privacy-policy')} class="smallerText">{t.footer.privacyPolicy}</a>
    </div>
  </div>

  <div class="footerRight">
    <ul class="footerList contact">
      <h3>{distributorInfo.title}</h3>
      <h4>{distributorInfo.subtitle}</h4>
      <li class="smallerText">
        <a href=`mailto:${distributorInfo.email1}`>{distributorInfo.email1}</a>
      </li>
      <li class="smallerText">
        <a href=`mailto:${distributorInfo.email2}`>{distributorInfo.email2}</a>
      </li>
      <li class="smallerText">
        <a href=`tel:${distributorInfo.phone}`>{distributorInfo.phone}</a>
      </li>
      <li class="smallerText">{contactInfo.hours}</li>
    </ul>
  </div>
</footer>
